<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mini-default.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    
</head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(192, 69, 69);
}

li {
  float: left;
}

li a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
<body>
    <ul>
        <li><a href="http://localhost:5000/">Home</a></li>
        <li><a href="http://localhost:5000/nuevo">Nuevo</a></li>
    </ul>
        <header>
            Kakebo Web - BZ VII
        </header>
        {% with mensajes =  get_flashed_messages(with_categories = true) %} <!--si ponemos categorias hay que poner with_categories-->
            {% if mensajes %}
            <div class="popup">
                {% for tipo, mensaje in mensajes %}
                <p class="{{tipo}}">{{ mensaje }}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <section>
            {% block contenido%}{% endblock%}
        </section>  
        <footer>
            &copy; Todos los derechos reservados 2021
        </footer> 
</body>
</html>